<div class="wrapper">
<div class="container">
    <div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to you {{{user}}}</h1>
        <p class="lead">I hope you will enjoy the code</p>
        <ul class="list-unstyled">
        <li>Bootstrap 4.0.0-beta</li>
        <li>jQuery 3.2.1</li>
        </ul>
    </div>
    </div>
</div>
</div>